@charset "UTF-8";
/* CSS Document */
.image-content {
  border: solid 3px black;
  width: 100%;
  background-color: #B0B0B0;
  height: 600px;
}

.panzoom {
  height: 100%;
}

.image-container {
  border: solid 1px red;
}

.controls {
  margin-bottom: 15px;
}

.container {
	width: 100% !important;
    position: fixed; !important;
    height: 785px;
}

.img {
	width: 100% !important;
	height: auto;
	align-content: center center;
	
}


.style {
	background-color: #FAEEFF;
	opacity: 0.9;
	font-family: 'Syne Mono', monospace;
	font-size: 40px;
	margin-left: 20px;
	border: none;
	padding-right: 50px;
	position: relative;
	
}


.position {
	position: relative!important;
	padding: 0 !important;
	margin: 0 auto !important;
}

.nav_style {
	background-color: #FAEEFF;
	opacity: 0.9;
	font-family: 'Syne Mono', monospace;
	font-size: 25px;
	margin-left: 20px;
	border: none;
	padding: 0px;
}

.nav_style:hover {
	border-bottom: 1px solid black;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.right {
	float: right;
}

.left {
	float: left;
}

.c {
	padding-top: 20px;
	margin-bottom: 0;
	width: 100%;
}

.clear {
	clear: both;
}

.padding_top {
	padding-top: 20px !important;
}
